<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here|Stylish&display=swap" rel="stylesheet">
</head>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand noHover" href="/">DAILY JOURNAL</a>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li><a href="/">HOME</a></li>
          <li><a href="/compose">COMPOSE</a></li>
          <li><a href="/about">ABOUT</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="page-content">
      <div class="container">
