<%- include("partials/header"); -%>
<div class="about">
  <h1>About</h1>
  <p>This project is a simple journal keeper where composed messages are saved
    to a database and displayed on the home page. The handwritten font style
    is only applied to the journal entries to mimic a real handwritten journal.
  </p>
  <h2>
    Features I'd like to add in the future:
  </h2>
  <ul>
    <li>Edit entries.</li>
    <li>Delete entries.</li>
    <li>Display entry from most recent to oldest entry.</li>
  </ul>

  <h2>Technologies used</h2>
  <ul>
    <li>
      HTML, CSS, JavaScript - This is the foundation of this poject
    </li>
    <li>
      Node.js - Using Express.js as the framework of this project.
    </li>
    <li>
      EJS - For templating pages as well embedding scripts.
    </li>
    <li>
      MongoDB - Using the Mongoose Library to persist the journal entries.
    </li>
    <li>
      Hosted on Heroku
    </li>
    <li>
      Available through GitHub
    </li>
  </ul>
</div>
<%- include("partials/footer"); -%>
